[MUSIC]
In this session we're going
to study the requirements and
challenges of cluster analysis.
There are many things to be considered for
cluster analysis.
For example the first one we,
people are often to consider
is partitioning criteria.
That means whether we want
to get a single level or
multiple level hierarchical partitioning.
In many cases multi level
hierarchical partitioning are what we
call hierarchical clustering
could be quite desirable.
The second thing we want
to consider whether,
how the clusters can separate the objects,
it can be hard and exclusive or
soft and non-exclusive.
Exclusive means one object or one
customer can only belong to one region.
Nonexclusive for example,
one document may belong to more
than one cluster, then for
similarity measure there could be
many different kinds of similarity.
For example distance-based,
using Euclidean space or
road network, or a vector space,
or we can use connectivity based.
For examples based on density or
contiguity.
The fourth one we are going to
discuss is clustering space.
That means we, whether we want
to do full space clustering or
we want to do subspace clustering.
Full space means, especially in
the low dimension for example in 2D,
in two dimensional space,
in the area or the region.
Whether we want to find
the clusters in those regions,
in the full 2D space, or only we
want to project on the 1D subspace.
However, in many high
dimensional clusters,
it is hard to find meaningful
clusters in a very high dimensional space,
but it's possible to find interesting
clusters in the sub-spaces.
Things are in the lower,
corresponding lower dimensional space so,
that sub-space clustering
also becomes very important.
Then, for a cluster analysis,
there are many requirements and
challenges, the first most important
thing is the quality of clustering.
Whether we are going to deal with
different kinds of attributes,
numerical one, categorical data,
text, multimedia data,
networks, or a mixture of multiple types.
Whether we can discover
clusters with arbitrary shape,
like an oil spill, or whether we will
be able to deal with noisy data.
Then the second important issue
people consider is scalability.
That means whether we will be able in
the very big amount of data environment.
Whether we can cluster all the data, or
we must draw some sample and
cluster only on the sample data.
Whether we can handle
high dimensional data, or
we can only project them in
the low dimensional space.
And whether we can do timely
incremental clustering,
especially for data streams,
whether we can do stream clustering.
Especially whether the cluster results
may not be sensitive to
the input order of the data.
Another important issue we need to
handle is constraint-based clustering.
That means user usually have their
own thinking on the preference or
constraints of the cluster
they want to derive.
They may have domain knowledge,
they may know certain subspaces
could be more interesting,
they may even raise queries.
So can we handle clustering,
given user preference or constraints?
The final issue we are going to discuss
is interpretability and usability.
Simply says the clustering methods,
whether they can derive
meaningful clusters which can
be understood by people can
be used by many applications can
interpret data nicely, okay?
All these are very important issue we
are going to study in this lecture.
[MUSIC]

